flask
jinja2
pillow
flask-cors
requests
uwsgi
setuptools==41.0.0
tensorflow==1.14
scikit-learn
xgboost
mxnet
h2o==3.18.0.8
python-dotenv
pybuilder
keras
prometheus-client==0.6.0
prometheus-flask-exporter==0.9.1